<nav class="nav">
  <ul class="nav__list ">
    <li>
      <a class="nav__list-link{% if section_code == 'turbo_handbook' %} active{% endif %}" href="/turbo/handbook/introduction">Handbook</a>

      {% include 'section-nav.html', section: 'turbo_handbook' %}
    </li>
    <li>
      <a class="nav__list-link{% if section_code == 'turbo_reference' %} active{% endif %}" href="/turbo/reference/streams">Reference</a>

      {% include 'section-nav.html', section: 'turbo_reference' %}
    </li>
  </ul>
</nav>
