<ul class="nav__sublist active">
    <li>
      <a class="nav__sublist-link" href="/turbo/handbook/introduction">はじめに</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/turbo/handbook/drive">Turbo ドライブを使ったナビゲート</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/turbo/handbook/frames">Turboフレームを分解する</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/turbo/handbook/streams">Turbo ストリームを利用してみよう</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/turbo/handbook/native">iOS と Android をネイティブにやる</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/turbo/handbook/building">Turbo アプリケーションの構築</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/turbo/handbook/installing">アプリケーションに Turbo をインストール</a>
    </li>
</ul>
