{%- assign sortedEntries = collections[section]  -%}
<ul class="nav__sublist">
  {%- for entry in sortedEntries -%}
    <li>
      <a class="nav__sublist-link" href="{{ entry.url | remove: ".html" }}">
        {%- assign autoPrefix = entry.filePathStem -%}
        {%- if entry.data.nav_prefix %}{{ entry.data.nav_prefix }}: {% elsif autoPrefix %}{{ autoPrefix }}: {% endif %}{% if entry.data.title %}{{ entry.data.title }}{% else %}{{ entry.data.content }}{% endif %}
      </a>
    </li>
  {%- endfor -%}
</ul>
