<ul class="nav__sublist active">
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/origin">Stimulusの原点</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/introduction">はじめに</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/hello-stimulus">Hello, Stimulus</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/building-something-real">実際に使えるものを作る</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/designing-for-resilience">弾力性のある設計</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/managing-state">ステート管理</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/working-with-external-resources">外部リソースの利用</a>
    </li>
    <li>
      <a class="nav__sublist-link" href="/stimulus/handbook/installing">アプリケーションにStimulusをインストールする</a>
    </li>
</ul>
