name: Eleventy Publish
on:
  push:
    branches:
      - '**'
      - '!dependabot/**'
  workflow_dispatch:
    inputs:
      confirmation:
        description: 'Are you sure you want to run the publish process manually?'
        required: true
        type: boolean
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ARTIFACT_PATH: '_site/'
      ARTIFACT_NAME: 'github-pages'
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install dependencies
        run: npm ci
      - name: Build site
        env:
          ELEVENTY_PREVIEW: ${{ github.repository != 'everyleaf/hotwire_ja' }}
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: _site/
  deploy:
    if: >-
      github.event_name == 'push' &&
      (github.ref_name == 'main' || github.repository != 'everyleaf/hotwire_ja')
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
